.slider-container {
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #fff;

    .inner-slider {
        .slider-content {
            display: block;
            padding: 15px 40px;
            color: #333;
            cursor: pointer;
            text-decoration: none;
            &.slider-content-grey {
                background-color: #eee;
                border-bottom: 1px solid #e3e3e3;
                &.active {
                    background-color: #3979cb;
                    color: #eee;
                }
            }
            &.active {
                background-color: #bed8ff;
            }
        }
    }
}
