.slider-container {
    position: absolute;
    width: 200px;
    height: 100%;
    background-color: #fff;

    .inner-slider {
        .slider-content {
            padding: 10px 0 0 20px;
            cursor: pointer;
        }
    }
}
