body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  user-select: none;
  background-color: #f5f5ff;
}

.custom-container {
  position: relative;
  top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
}

.main-container {
  position: absolute;
  left: 210px;
  /* padding: 5px 0 0 0; */
  width: calc(100vw - 210px);
  height: 100%;
  background-color: #fff;
}

.main-container .bar {
  padding: 10px 0;
  background-color: #f5f5ff;
}

.main-container .context {

}

/* collapse 全局样式 */
.ant-collapse.slider-sa .ant-collapse-item .ant-collapse-header {
  background-color: #3979cb;
  color: #fff;
}

.ant-collapse.slider-approve .ant-collapse-item .ant-collapse-header {
  background-color: #eee;
  border-bottom: 1px solid #e3e3e3;
}

.ant-collapse.slider-approve .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  background-color: #3979cb;
  color: #fff;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content {
  background-color: #fff;
  border-radius: 0;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding: 0;
}

/* table 组件全局样式 */
.ant-table-thead tr th {
  background-color: #deebff;
}

/* 设置模态框位置为屏幕正中 */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

/* 设置模态框 header */
.ant-modal-header {
  text-align: center;
  background-color: #448eec;
  border-bottom: none;
}

.ant-modal-footer {
  border-top: none;
  text-align: center;
}
